input, textarea, select, label {
    display: block;
}

#title {
    text-align: center;
    color: rgb(104, 104, 107);
    font-weight: 400;
    font-size: 60px;
}

* {
    font-family: Helvetica, arial, sans-serif;
    font-size: 20px;
    color: rgb(104, 104, 107);
}

label {
    margin: 10px 0;
}

form, p {
    width: 60vw;
    margin: 0 auto;
}

p {
    font-size: 20px;
    margin-bottom: 70px;
    text-align: center;
    margin-top: -20px;
}

#submit {
    margin-bottom: 20px;
}

input, textarea, select, [checkbox] {
    border-radius: 10px;
    border-color:rgb(104, 104, 107);
    border-style: solid;
    border-width: 1px;
}

input::placeholder, textarea::placeholder {
    font-size: 15px;
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    color: rgb(104, 104, 107);
    padding: 5px;
}

input[type="checkbox"], input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"] {
    margin-left: 10px;
}

select, textarea {
    font-family: Helvetica, arial, sans-serif;
    font-size: 15px;
    color: rgb(104, 104, 107);
    border-width: 1px;
}

hr {
    color: rgb(104, 104, 107);
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
    border-radius: 10px;
}

#checkboxes {
    border-color: pink;
}

#blank-space-top {
    margin-top: 20px;
}

#blank-space-bottom {
    margin-bottom: 13px;
}

input[type="text"], input[type="email"], select, textarea {
    padding: 5px;
}

input[type="number"]::placeholder {
    font-size: 15px;
    padding: 10px;
}

.checkboxes {
    display: inline-block;
}

#number {
    width: 30px;
    text-align: center;
}

#dog-box {
    margin-left: 0;
}

#submit {
    background-color: white;
}